<div class="jumbotron">
  <h1>Lobster Bloccit</h1>
  <p>Lobster Bloccit is a resource for sharing links with your fellow Lobsters!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Lobsters are Awesome</h2>
    <p>Think about it. A lobster is a bottom feeder and, yet, it tastes delicious. My dad always says, "If you want to be pretty, you gotta eat pretty things!" Lobsters are not pretty, but it's still okay to eat them. </p>
  </div>
  <div class="col-md-4">
    <h2>They're Fun to Eat</h2>
    <p>When I was small, I used to relish each New Year's Eve when my dad would boil each member of our family a giant lobster. I usually saved a Mr. Pibb specifically for the occasion, and I took my time eating the delicious crustacean. Sometimes, it would take me over two hours. That was okay, because I loved the experience so much.</p>
  </div>
  <div class="col-md-4">
    <h2>Lobsters Love You!</h2>
    <p>They say that if you hold up a stethoscope to a pot of boiling water in which a batch of lobsters are cooking, you'll hear faint screams. I don't believe that, but I've never tried.
      <br><br>My sister made the mistake of naming her New Year's lobster one year, and that was a sad evening.</p>
  </div>
</div>